*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
--cultured: #f8f9faff;
--cultured-2: #e9ecefff;
--gainsboro: #dee2e6ff;
--light-gray: #ced4daff;
--cadet-blue-crayola: #adb5bdff;
--slate-gray: #6c757dff;
--davys-grey: #495057ff;
--gunmetal: #343a40ff;
--charleston-green: #212529ff;
--font-montserrat: font-family: 'Montserrat', sans-serif;
--font-cursive: font-family: 'Satisfy', cursive;
}

body, html{
  margin-left: 50px;
  margin-right: 50px;
  background-color: var(--cultured);
  scroll-behavior: smooth;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar {
  width: 100vw;
  max-width: 1400px;
  height: 20vh;
  background-color: var(--cultured);
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
  opacity: 80%;

}

.logo img {
  width: 30vw;
  height: 32vh;
  object-fit: cover;
  /* border: 2px green solid; */
  object-position: 0% 70%;
  /* transform: rotate(deg); */
}
.menu ul{
  width: 60vw;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-right: 60px;
  /* border: blue solid 2px; */
}
.menu li{
  display: flex;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  font-family: 'Satisfy', cursive;
  text-decoration: none;
  margin-bottom: 20px;
  /* text-transform: uppercase; */
}

.menu li a {
  color: black;
  text-decoration: none;
}
.menu li:hover{
  border-bottom: 5px gold solid;
  transition: 0.3s;
}

.carousel{
  padding-top: 9rem;
  background-color: var(--cultured);
}
.card-container{
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(45deg, #dee2e6ff, #343a40ff);
  background-color: var(--gunmetal) ;
  padding: 5.5rem 0;
}
.card-container h2{
  /* border: red 3px solid; */
  /* height: 300px; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px ;
  padding-bottom: 20px;
  color: black ;
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;

}

.card-row{
  /* border: blue 3px solid; */
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 50px;
}
.card{ 
  /* border: 1px solid white; */
  width: 280px;
  height: 250px;
  border: wheat 3px solid;
  border-radius: 20px;
  background-color: var(--slate-gray);
  object-fit: contain;
}

.card img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button{
  /* border: 3px solid blue; */
 padding-top: 20px;
}

.button button{ 
  width: 150px;
  font-size: 1.5rem;
  background-color: goldenrod;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
}

.about{
  width: 100vw;
  max-width: 100%;
  display: flex;
  background-color: var(--gainsboro);
  padding: 20px;
  padding: 7rem 0rem ;
}

.about-text{
  /* border: green 2px solid; */
  width: 50vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.about-text h3{
  padding-top: 30px;
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
}
.about-text h4{
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.about-text p{
  font-family: 'Satisfy', cursive;
  font-size: 1.6rem;

}
.about-image{
  width: 50%;
  object-fit: contain;
  padding: 20px;
}
.about-image img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  max-height: 200px;
  background-color: var(--slate-gray);
}

.footer-media{
  width: 70px;
  height: 70px;
  display: flex; 
}
.footer .text p{
  font-size: 1.5rem;
  font-family: 'Satisfy', sans-serif;

}
/* ===================== Media Queries ====================== */


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width